In [2]:
print("Hello IBM")

Hello IBM

# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data SCientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib

| Data science tools |
|--------------------|
|Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### H3: Below are a few example of evaluating arithmetic expewssion in Python

In [13]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify common libraries used in Data Science
- Understand different open-source development environments
- Perform basic arithmetic operations in Python
- Convert time units using Python expressions

## Author
Mubinavegim Tulkinjonova